doctype html
html
head 
link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", type='text/css')
link(rel='stylesheet', href="doctor-registration/style.css", type='text/css')       
body
div(id="imgdiv" class="container-fluid")
  img(src="https://image.ibb.co/jEcCiK/welcomemailer.png")
div(id="textdiv" class="container")
 h2 Welcome to Mesomeds.
 p We are committed to simplifying healthcare.<br/>You registration request has been received. Our Admin team will reach out to you shortly to take it forward
 p In case you didnt hear back from us in 1 Business day please contact support@awnics.com or 9986806824  
//-  a(type="button", class="btn btn-primary", href=userLink) Let's Get Started
div(id="footdiv" class="container")
 a(href="https://www.facebook.com/mesomeds.in")
  img(src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png") 
  | Facebook
 a(href="https://twitter.com/askawnics") 
  img(src="https://static.dezeen.com/uploads/2012/06/dezeen_twitter-bird.gif") 
  | Tweet
 a(href="https://mesomeds.wordpress.com/")
  img(src="https://upload.wikimedia.org/wikipedia/commons/9/93/Wordpress_Blue_logo.png")
  | Blog