div a {
    padding: 9px;
    color: black;
}

i {
    color: #1c1c38;
}

div a i {
    padding: 1px;
}

.btn-primary {
    background-color: #1da3e2;
    border-color: #1da3e2;
}

p {
    color: black;
    font-size: 100%;
    padding: 2px;
}

a img {
    height: 20px;
    padding: 2px;
}

a {
    padding: 3px;
}

#textdiv a {
    margin-left: 34%;
    margin-top: 2%;
}

h2 {
    color: black;
    font-weight: bold;
}

#imgdiv {
    height: 50vh;
    width: 70vw;
    background-color: #dee2e6a1;
    display: flex;
}

#imgdiv img {
    height: 72%;
    width: 92.5%;
    margin: auto;
}

#textdiv {
    margin-left: 4%;
    margin-top: 5%;
}

#footdiv {
    margin-top: 3%;
    margin-left: 32%;
}