doctype html
html
head 
link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", type='text/css')
link(rel='stylesheet', href="user-registration/style.css", type='text/css')       
body
div(id="imgdiv" class="container-fluid")
  img(src="https://image.ibb.co/jEcCiK/welcomemailer.png")
div(id="textdiv" class="container")
 h2 Welcome to Mesomeds.
 p We are committed to simplifying healthcare.<br/>Click on the link below to start connecting with the doctors who care.
 a(type="button", class="btn btn-primary", href=userLink) Let's Get Started
div(id="footdiv" class="container")
 a
  img(src="https://image.ibb.co/cTZCiK/envelop.png") 
  | Forward
 a 
  img(src="https://image.ibb.co/bR4CiK/facebook2.png") 
  | Share
 a(href="https://twitter.com/askawnics") 
  img(src="https://image.ibb.co/dW4CiK/twitter.png") 
  | Tweet