doctype html
html
head 
link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", type='text/css')
link(rel='stylesheet', href="forgot-password/style.css", type='text/css')       
body
h6  Dear #{userName},
p Thank you for contacting us. We have recieved your query. We will get in touch with you at the earliest.

h6 Thanks and regards, <br/>Mesomeds
div(id="footdiv" class="container")
 a(href="https://www.facebook.com/mesomeds.in")
  img(src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png") 
  | Facebook
 a(href="https://twitter.com/askawnics") 
  img(src="https://static.dezeen.com/uploads/2012/06/dezeen_twitter-bird.gif") 
  | Tweet
 a(href="https://mesomeds.wordpress.com/")
  img(src="https://upload.wikimedia.org/wikipedia/commons/9/93/Wordpress_Blue_logo.png")
  | Blog